services:
  model-repository:
    build: .
    image: ai-model-repository:0.0.1
    container_name: ai-model-repository
    ports:
      - "27016:8000"
    volumes:
      - ./models:/app/models
    environment:
      - MODEL_STORAGE_PATH=/app/models
      - SERVER_HOST=0.0.0.0
      - SERVER_PORT=8000
    networks:
      - aitrplat
    restart: unless-stopped

networks:
  aitrplat:
    external: true
